body{
    margin: 0;
    padding: 0;

    font-family: sans-serif;
}

.quadsContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.quads{
    background-color: gray;
    border: 1px solid black;
    width: 100px;
    height: 400px;
}

.color1{
    background-color: gray;
}

.color2{
    background-color: #603F3F;
}

.color3{
    background-color: #330E0E;
}


.focusElm{
    display: none;
    
    margin: 50px auto 50px auto;
    padding: 50px;
    
    width: 100%;
    max-width: 500px;
    
    background-color: #fff;
	box-shadow: 0px 0px 15px #333;
}

.focusElm h3 {
	font-size: 32px;
	margin-bottom: 20px;
}
.focusElm span {
	color: rgba(0,0,0,0.3);
	font-size: 24px;
	float: right;
}
.focusElm span:hover {
	color: rgba(0,0,0,0.5);
	cursor: pointer;
}
.focusElm hr {
	margin-left: 25px;
	margin-right: 25px;
	margin-bottom: 15px;
}
.focusElm p {
	font-size: 14px;
}

/*
.focusMsk{
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background-color: rgba(0,0,0,0.6);
}


.focusRect{
    position: fixed;
	top: 0;
    left: 0;
    
	width: 100vw;
    height: 100vh;
    
	overflow: auto;
}
*/